@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


.form {
    width: 50%;
    margin: auto;

    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 150px;

}
.btn {
    border: 3px solid #19127E;
    background-color: #9AB1F7;
    color: #19127E;;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    width: 50%;
    margin-left: 170px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.label{
    margin-left: 175px;
    padding-top: 50px;
    
}

.menu{
    width: 40%;
    padding: 20px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 36px;
    background-color: white;
    margin-left: 230px;
    margin-bottom: 20px;
    cursor: pointer;
}
h1{
    padding: 40px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
